/js/typings
/data/raw_pics
/filesMover/node_modules
/filesMover/settings.json
/filesMover/delivery.ts
/imageProcess/error.log
/imageProcess/logger.log
/data
/imageProcess/node_modules
/.idea
/js/ImageGalley.ts
/filesMover/*.log
/filesMover/logger.log
